/* ===== Root Background ===== */
.root {
    -fx-background-color: linear-gradient(to bottom right, #eef2f7, #85919c);
    -fx-font-family: "Segoe UI", "Inter", sans-serif;
}

/* ===== Menu Bar ===== */
.menu-bar-custom {
    -fx-background-color: #FF00FF;
}

.menu-bar-custom .label {
    -fx-text-fill: white;
    -fx-font-size: 14px;
}

/* ===== Main Layout ===== */
.main-content {
    -fx-alignment: center;
    -fx-spacing: 40;
}

/* ===== Legend Card ===== */
.legend-box {
    -fx-background-color: white;
    -fx-background-radius: 15;
    -fx-padding: 20;
    -fx-spacing: 12;

    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.08), 15, 0.2, 0, 4);
}

/* ===== Legend Text ===== */
.label {
    -fx-text-fill: #374151;
    -fx-font-size: 14px;
}

/* ===== Chart Container ===== */
.chart-custom {
    -fx-background-color: white;
    -fx-background-radius: 15;
    -fx-padding: 20;

    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.08), 15, 0.2, 0, 4);
}

/* ===== Chart Title ===== */
.chart-title {
    -fx-text-fill: #111827;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

/* ===== Pie Chart Labels ===== */
.chart-pie-label {
    -fx-fill: #374151;
    -fx-font-size: 12px;
}